@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker-popper {
  z-index: 9999 !important;
}

#root {
  @apply mx-auto min-h-screen w-full items-center justify-center;
  /* max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 2rem;
  text-align: center; */
}

.scan-region-highlight {
  position: relative;
  border: 2px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
